{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% if not messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            Ingrese sus datos para registrarse.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <div class="card card-body">
            <form action="/add" method="POST">    
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" placeholder="Apellido" class="form-control">
                </div> 
                <div class="form-group">
                    <input type="text" name="correo" placeholder="Correo" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="contraseña" placeholder="Contraseña" class="form-control">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-block">
                        Registrar
                    </button>
                
                    <a href="pagina_principal.html" class="btn btn-info btn-block d-inline-block">
                        Ir a la Página Principal
                    </a>
                </div>                                                                                      
            </form>
        </div>
    </div>
</div>
{% endblock %}
